@page "/menu"
@using BlazorRestaurantApp.Data;
@using BlazorRestaurantApp.Services;
@using MongoDB.Bson;
@inject MongoConnection mongoConnection
@inject FileSystemService fileSystemService
@inject NavigationManager navigationManager

<MudGrid Spacing="5"> 
@foreach (var menuItem in menuItems)
{
    string imageData = "";
    if(menuItem.ImageId != ObjectId.Empty)
    {
        imageData = GetImageSource(menuItem.ImageId);
    }
    <MudItem xs="12" sm="6" md="4" lg="3">
        <MudCard>
            <MudCardMedia Image="@imageData"/>
            <MudCardContent>
                <h3>@menuItem.Name</h3>
                <p>@menuItem.Description</p>
                <h4>@menuItem.Price.ToString("C")</h4>
                <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@(() => NavigateToEditItem(menuItem.Id.ToString()))">Edit</MudButton>
            </MudCardContent>
        </MudCard>
    </MudItem>
}

</MudGrid>

<MudDivider/>
<br /><br />

<MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="@(() => NavigateToAddNewItem())">Добавить</MudButton>

@if (!isCorrectMenuItem)
{
        <MudAlert Severity="Severity.Error">Такой пользователь уже существует!</MudAlert>
}

@code {
    private List<MenuItem> menuItems = new List<MenuItem>();
    bool isCorrectMenuItem = true;

    protected async override Task OnInitializedAsync()
    {
        menuItems = await mongoConnection.GetAllMenuItems();
        await base.OnInitializedAsync();
    }

    private string GetImageSource(ObjectId imageId)
    {
        try
        {
            if (imageId != ObjectId.Empty)
            {
                var imageData = fileSystemService.DownloadItemFromDbByIdAsBytes(imageId);

                var base64Image = Convert.ToBase64String(imageData);

                return $"data:image/png;base64,{base64Image}";
            }
            return "";
        }
        catch{ return ""; }

    }

    private void NavigateToEditItem(string itemId)
    {
        navigationManager.NavigateTo($"/menu/edit-item/{itemId}");
    }

    private void NavigateToAddNewItem()
    {
        navigationManager.NavigateTo("/menu/add-item");
    }

}