
<MudNavMenu Class="mud-height-full" Style="background-color:white">
    <MudText Typo="Typo.h6" Class="px-4">
        Ресторан <MudIcon Icon="@Icons.Material.Filled.Restaurant"></MudIcon> 
    </MudText>
    <MudDivider Class="my-2" />
    <MudNavLink Href="/" Icon="@Icons.Material.Filled.Home">Домашняя страница</MudNavLink>
    <MudNavLink Href="/regPage" Icon="@Icons.Material.Filled.HowToReg">Регистрация</MudNavLink>
    <MudNavLink Href="/authorizationPage" Icon="@Icons.Material.Filled.SwitchAccount">Авторизация</MudNavLink>
</MudNavMenu>


@*<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Ресторан</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Домашняя страница
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/regPage" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Регистрация
            </NavLink>
        </div>
    </nav>
</div>*@

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
